@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "shabnam";
  src: url("./fonts/Shabnam.ttf");
  font-display: block;
}
@font-face {
  font-family: "shabnamLight";
  src: url("./fonts/Shabnam-Light.ttf");
  font-display: block;
}

.fade-anim img{
  animation: fadeAnim 5s;
}

@keyframes fadeAnim{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
